$color-pallete-1: #052231;
$color-pallete-2: #23b3e8;
$color-pallete-3: #4dbd98;
$color-pallete-4: #3D43A2;
$color-pallete-5: #F15832;
$color-pallete-6: #004F71;
$color-pallete-7: #EB0E43;
$color-pallete-8: #004F71;
$color-pallete-9: #03293D;
$color-pallete-10: #FBFBFB;
