$color-pallete-1: #052231;
$color-pallete-2: #23b3e8;
$color-pallete-3: #4dbd98;
$color-pallete-4: #3d43a2;
$color-pallete-5: #f15832;
$color-pallete-6: #004f71;
$color-pallete-7: #eb0e43;
$color-pallete-8: #004f71;
$color-pallete-9: #03293d;
$color-pallete-10: #fbfbfb;

.bg__light_blue {
  background: $color-pallete-2 !important;
}

.bg__green {
  background: $color-pallete-3 !important;
}

.bg__purple {
  background: $color-pallete-4 !important;
}
.bg__orange {
  background: $color-pallete-5 !important;
}

.bg__dark_blue {
  background: $color-pallete-8 !important;
}

textarea:focus,
input:focus{
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

